h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
form {
    width: 30%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
form h2 {
    margin-bottom: 20px;
}
form .linha {
    margin-top: 10px;
}
form .linha input {
    float: right;
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border: solid 1px black;
}
form .linha label {
    font-size: 18px;
}
form .cadastro {
    text-align: center;
}
form .cadastro button {
    width: 30%;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: 0.5px;
    background-color: rgb(0, 136, 0);
    color: white;
    border: solid 1px black;
}
form .cadastro button:hover {
    background-color: rgb(0, 102, 0);
}